.project__details__wrapper {
  /* max-width: 65ch;
  margin: 0 auto; */
}
.project__details__title {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 45px 11vw 30px 45px;
}

@media only screen and (min-width: 1600px) {
  .project__details__title {
    padding: 45px 23vw 30px 45px;
  }
}

.project__details__title h1 {
  font-size: calc(20px + 30 * ((60vw - 100px) / 1025));
  margin: 0;
}

.project__details__meta__wrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;

  border-top: 1px dotted rgb(175, 174, 174);
  border-bottom: 1px dotted rgb(175, 174, 174);
}

@media only screen and (min-width: 955px) {
  .project__details__meta__wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
  }
}

.project__details__meta {
  border-left: 1px dotted rgb(175, 174, 174);
  flex: 0 0 33%;
}

.project__details__meta p {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: normal;
  font-size: 12px;
  color: black;
  margin: 0;
  padding: 0;
}

.project__details__meta__item {
  border-bottom: 1px dotted rgb(175, 174, 174);
  padding: 30px;
}

.project__details__meta__item:last-of-type {
  border-bottom: 1px solid transparent;
}

.project__details__meta__item:first-of-type {
  border-top: 1px dotted rgb(175, 174, 174);
}

@media only screen and (min-width: 955px) {
  .project__details__meta__item:first-of-type {
    border-top: 1px solid transparent;
  }
}

.project__details__meta__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.project__details__meta__listitem {
  display: inline-block;
  margin-right: 5px;
}
.project__details__meta__listitem:after {
  content: ',   ';
}
.project__details__meta__listitem:last-of-type:after {
  content: '   ';
}

.project__details__content__wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  max-width: 90ch;
  margin: 60px auto 0 auto;
}

@media only screen and (min-width: 700px) {
  .project__details__content__wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
}

.project__details__stickyimg {
  position: static;
  top: 0px;
  height: 300px;
  padding: 0 15px;
  margin: 0 auto 135px auto;
}

@media only screen and (min-width: 700px) {
  .project__details__stickyimg {
    position: sticky;
    top: 15px;
    height: 300px;
    padding: 0 15px;
    margin: 0;
  }
}

.project__details__stickyimg img {
  width: 25vw;
  max-width: 450px;
  min-width: 300px;
  margin: 45px auto 0 auto;
  border: 1px dotted rgb(175, 174, 174);
}

.project__details__content {
  max-width: 65ch;
  margin: 0 15px;
  padding: 15px;
}
