.about__wrapper {
  max-width: 50ch;
  margin: 100px auto 30px auto;
  padding: 15px;
}

.about__wrapper img {
  max-width: 200px;
  margin-top: 45px;
  border-radius: 8px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 10px 40px rgba(0, 0, 0, 0.1);
}

.about__label {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: normal;
  font-size: 16px;
  color: black;
  margin: 0 0 60px 0;
}
